
header {
  height: 50px;
  box-shadow: 0px 0px 5px 0px hsla(0, 0%, 7%, 0.3);
}

nav {
  width: 230px;
}

.nav-link {
  color: white;
  background-color: rgba(255, 255, 255, 0.493);
}

main {
  transition: 0.3s all ease;
}

body{
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

.leftcolor-blue{
  padding-left: 10px ;
  border-left-width: 5px ;
  border-left-style: solid ;
  border-left-color: #6495ED;
}

.bottom-up:hover {
  box-shadow: 0 5px 10px black;
  transform: translate(0, -5px);
  }

.side_ber{
  height:100vh
}
