.icon:nth-of-type(n+2){ display: none; }

.icon {
  display: block;
  list-style: none;
  list-style-position: initial;
  list-style-image: initial;
  list-style-type: none;
  text-align: center;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  margin-top: 30px;
}

select {
  width: 100%;
  max-width: 500px;
  margin: 0px;
  padding: 8px;
  display: block;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
} */

p{
  text-align: center;
}

.icon_text {
  color: rgb(82, 82, 82);
}

.register{
  color: rgb(141, 29, 29);
}


