<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>minesweeper</title>
</head>

<body>
  <h1>minesweeper!!!</h1>
  <div>ホーム画面
  </div>
  <form action="{{url_for('minesweeper_easy')}}">
    <button>難易度1</button>
  </form>
  <form action="minesweeper_nomal">
    <button>難易度2</button>
  </form>
  <form action="minesweeper_hard">
    <button>難易度3</button>
  </form>
  <form action="mypage">
    <button>mypage</button>
  </form>
</body>

</html>
