<html class="h-100">

<head>
  <title>minesweeper</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css')}}" />
  <link rel="stylesheet" href="{{ url_for('static',filename='css/common.css')}}" />
  <script src="{{url_for('static',filename='js/common.js')}}"></script>
</head>

<body class="h-100">
  <header class="w-100 d-flex justify-content-between align-items-center bg-light px-3">
    <!— ヘッダーの内容 -->
      <h1 class="mx-2 fs-4 text-primary fw-bold"><b>minesweeper!</b></h1>
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div>
        {% for category, message in messages %}
        <strong class="{{ category }}">{{ message }}</strong>
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}
      <ul class="navbar-nav d-flex flex-row">
        <li class="nav-item mx-3 text-muted active headHover"><a href="{{url_for('mypage')}}"
            class="nav-link text-dark ">mypage</a></li>
        {% if user_info == None %}
        {% else %}
        <li class="nav-item mx-3 text-muted active headHover">
          <a href="{{url_for('statistics')}}" class="nav-link text-dark">{{user_info.user_name}}さんの戦績</a>
        </li>
        <li class="nav-item mx-3 text-muted active">
          <img src="{{url_for('static',filename=user_info.user_icon)}}" style="width:40px" alt="ユーザのアイコン">
        </li>
        {% endif %}
      </ul>
  </header>
  <div class="d-flex flex-row w-100" style="height: calc(100% - 50px)">
    <!— サイドメニュー -->
      <nav class="bg-dark">
        <ul class="nav flex-column m-0 p-3">
          <li class="nav-item mb-2"><a href="/" class="nav-link bottom-up">minesweeper</a></li>
          <li class="nav-item mb-2 bottom-up"><a href="/sudoku" class="nav-link">数独パズル</a></li>
        </ul>
      </nav>
      <!— メインコンテンツ -->
        <main class="w-100 bg-light">
          <!— タイトルバー -->
            <div class="border shadow-sm d-flex flex-row align-items-center bg-light">
              <div class="navbar-brand toggle-menu">
                <button class="btn btn-light btn-sm" id="toggle"><i class="fas fa-bars fa-lg"></i></button>
              </div>
              <div class="fs-4 fw-bold">マインスイーパの部屋</div>
            </div>
            <!— コンテンツ -->
              <div class="p-3">
                <div class="d-flex flex-row">
                  <div class="card mx-1 bg-info  bg-opacity-25 bottom-up" style="max-width: 20rem;">
                    <img src="https://minesweeper.online/img/homepage/beginner.png" alt="img" class="card-img-top">
                    <div class="card-body " style="text-align: center;">
                      <h4 class="card-title">難易度1</h4>
                      <p class="card-text">easyモードです</p>
                      <a href="{{url_for('minesweeper_easy')}}" class="btn btn-outline-primary stretched-link ">遊ぶ</a>
                    </div>
                  </div>
                  <div class="card mx-1 bg-info  bg-opacity-25 bottom-up" style="max-width: 20rem;">
                    <img src="https://minesweeper.online/img/homepage/intermediate.png" alt="img" class="card-img-top">
                    <div class="card-body " style="text-align: center;">
                      <h4 class="card-title">難易度2</h4>
                      <p class="card-text">nomalモードです</p>
                      <a href="{{url_for('minesweeper_nomal')}}" class="btn btn-outline-primary stretched-link ">遊ぶ</a>
                    </div>
                  </div>
                  <div class="card mx-1 bg-info  bg-opacity-25 bottom-up" style="max-width: 20rem;">
                    <img src="https://minesweeper.online/img/homepage/expert.png" alt="img" class="card-img-top">
                    <div class="card-body " style="text-align: center;">
                      <h4 class="card-title">難易度3</h4>
                      <p class="card-text">hardモードです</p>
                      <a href="{{url_for('minesweeper_hard')}}" class="btn btn-outline-primary stretched-link ">遊ぶ</a>
                    </div>
                  </div>
                </div>
              </div>
        </main>
  </div>
</body>

</html>
