<!DOCTYPE html>
<html lang="ja">

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
  <title>minesweeper</title>
</head>

<body>
  <h1>minesweeper!!!</h1>
  <div>ホーム画面
  </div>
  <div>
    <a href="{{url_for('minesweeper_easy')}}">難易度1</a>
    <a href="{{url_for('minesweeper_nomal')}}">難易度2</a>
    <a href="{{url_for('minesweeper_hard')}}">難易度3</a>
  </div>
  <!-- <form action="{{url_for('minesweeper_easy')}}">
    <button>難易度1</button>
  </form> -->
  <!-- <form action="{{url_for('minesweeper_nomal')}}">
    <button>難易度2</button>
  </form>
  <form action="{{url_for('minesweeper_hard')}}">
    <button>難易度3</button>
  </form> -->
  <div>
    <a href="{{url_for('mypage')}}"><button>mypage</button></a>
  </div>
</body>

</html>
