<html class="h-100">

<head>
  <title>minesweeper</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/common.css')}}" />
  <script src="{{url_for('static',filename='js/common.js')}}"></script>
</head>

<body class="h-100">
  <header class="w-100 d-flex justify-content-between align-items-center bg-light px-3">
    <!— ヘッダーの内容 -->
      <h1 class="mx-2 fs-4 text-primary fw-bold"><b>minesweeper!</b></h1>
      <ul class="navbar-nav d-flex flex-row">
        <li class="nav-item mx-3 text-muted active headHover"><a href="{{url_for('mypage')}}"
            class="nav-link text-dark">mypage</a></li>
        {% if user_info == None %}
        {% else %}
        <li class="nav-item mx-3 text-muted active headHover">
          <a href="{{url_for('statistics')}}" class="nav-link text-dark ">{{user_info.user_name}}さんの戦績</a>
        </li>
        <li class="nav-item mx-3 text-muted active">
          <img src="{{url_for('static',filename=user_info.user_icon)}}" style="width:40px" alt="ユーザのアイコン">
        </li>
        {% endif %}
      </ul>
  </header>
  <div class="d-flex flex-row w-100" style="height: calc(100% - 50px)">
    <!— サイドメニュー -->
      <nav class="bg-dark side_ber">
        <ul class="nav flex-column m-0 p-3">
          <li class="nav-item mb-2"><a href="/" class="nav-link">minesweeper</a></li>
          <li class="nav-item mb-2"><a href="/sudoku" class="nav-link">数独パズル</a></li>
        </ul>
      </nav>
      <!— メインコンテンツ -->
        <main class="w-100 bg-light">
          <!— タイトルバー -->
            <div class="border shadow-sm d-flex flex-row align-items-center bg-light">
              <div class="navbar-brand toggle-menu">
                <button class="btn btn-light btn-sm" id="toggle"><i class="fas fa-bars fa-lg"></i></button>
              </div>
              <div class="fs-4 fw-bold">マインスイーパ(hard)</div>
            </div>
            <!— コンテンツ -->
              <div class=" container-fluid pt-3 px-5">
                <input type="hidden" id="w" value="30">
                <input type="hidden" id="h" value="14">
                <input type="hidden" id="b" value="70">
                <div class="sub_text">
                  <div>残りの旗は<span class="bombCount">0</span>個</div>
                  <div>経過時間<span id="time" class="timer">100</span>秒</div>
                </div>
                <div id="setting2">
                  <div id="btn">
                    START
                  </div>
                </div>
                <table id="board">
                </table>
                <div id="text">
                  ～操作方法～
                  </h3>
                  <p>左クリックでマスを開ける</p>
                  <p>右クリックで<span class="flag"></span>マークを付ける</p>
                  <br />
                  <h4>～クリア条件～</h4>
                  <p>時間制限内に爆弾を除いて、<br>全てのマスを空けること</p>
                </div>
                <div id="loseModal" class="modal">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 id="result"></h3>
                    </div>
                    <div class="modal-body">
                      <p>旗を有効に使おう！</p>
                      <p>難易度を落として練習しよう</p>
                      <form action=" /game_result" method="POST">
                        <input type="hidden" value="hard" name="game_level"></input>
                        <button value="lose" name="game_result" class="btn btn-dark btn-sm bottom-up">戻る</button>
                      </form>
                    </div>
                  </div>
                </div>
                <div id="winModal" class="modal">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 id="result">CLEAR!!</h3>
                    </div>
                    <div class="modal-body">
                      <p>新しい難易度に挑戦しよう！！</p>
                      <p>難易度を落として練習しよう</p>
                      <form action=" /game_result" method="POST">
                        <input type="hidden" value="hard" name="game_level"></input>
                        <button value="win" name="game_result" class="btn btn-dark btn-sm bottom-up">戻る</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
        </main>
  </div>
</body>

</html>
<script src="{{url_for('static',filename='js/mine.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static',filename='css/mine.css')}}" />
