<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <h1>mypage</h1>
  <div class="container-fluid pt-3 px-5">
    <div class="row">
      <div class="col-6"><b>名前</b></div>
      <div class="col-6"><b>アイコン</b></div>
    </div>
    <div class="row">
      <div class="col-6"><input type="text" name="name"></div>
      <div class="col-6"><select name="アイコン" id="icon">
          <option value="画像1">画像1</option>
          <option value="画像2">画像2</option>
          <option value="画像3">画像3</option>
          <option value="画像4">画像4</option>
        </select></div>
    </div>
    <div class="row pt-3">
      <div class="col-12 text-right"><input class="btn btn-danger" type="submit" value="登録"></div>
    </div>
  </div>
</body>

</html>
